<% include ../partials/header %>
<div class="row">
  <div class="col-md-3">
    <div id="map" class="mb-4"></div>
  </div>
  <div class="col-md-9">
    <div class="card mb-3">
      <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
      <div class="card-body">
        <h5 class="float-right">
          $<%= campground.price %>/night
        </h5>
        <h4 class="card-title"><%= campground.name %></h5>
        <p>
          <em>Submitted by: <a href="/user/<%=campground.author.id%>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
        </p>
        <hr>
        <p class="card-text"><%= campground.description %></p>
        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
        <form id= "delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <div class="card mb-4 bg-light">
      <div class="card-body">
        <div class="text-right">
          <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
        </div>
        <hr>
        <div class="row bg-light">
        <% campground.comments.forEach(function(comment){ %>
          <div class="col-md-12 mb-2">
            <div class="card">
              <div class="card-body ">
                <div class="float-left">
                  <p class="card-title"><strong><%= comment.author.username %></strong></p>
                  <p class="card-text"><%= comment.text %></p>
                </div>
                <div class="float-right">
                  <p><%= moment(comment.createdAt).fromNow() %></p>
                  
                  <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                  <div class="float-right">
                    <a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-warning">EDIT</a>
                    <form id="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-danger">DELETE</button>
                    </form>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidG9taG9sbGFuZCIsImEiOiJjandrY2trc2EwMG9lM3pvNGl1NDR4bWZvIn0.xRD2DoO7hlqvndnlPmliMw';
  var map = new mapboxgl.Map({
    container: 'map', // Container ID
    style: 'mapbox://styles/mapbox/streets-v11', // Map style to use
    center: [<%=campground.lng%>, <%=campground.lat%>], // Starting position [lng, lat]
    zoom: 12, // Starting zoom level
  });
  
  
    var geocoder = new MapboxGeocoder({ // Initialize the geocoder
  accessToken: mapboxgl.accessToken, // Set the access token
  mapboxgl: mapboxgl, // Set the mapbox-gl instance
  marker: false, // Do not use the default marker style
  });
  
  var marker = new mapboxgl.Marker() // initialize a new marker
  .setLngLat([<%=campground.lng%>, <%=campground.lat%>]) // Marker [lng, lat] coordinates
  .addTo(map); // Add the marker to the map
  


// Add the geocoder to the map
map.addControl(geocoder);


</script>


<% include ../partials/footer %>